@import url("circles.css");
@import url("triangles.css");
@import url("squares.css");
/*SCSS list*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  position: relative;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
  background-color: #375397;
  font-family: "Work Sans", sans-serif;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  border-radius: 20px;
}

.form__label {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 5px 0px;
  margin-bottom: 10px;
}

.form__label span {
  font-size: 28px;
  color: #fff;
  padding: 6px;
  font-weight: 500;
}

.form__label input {
  padding: 10px;
  font-size: 16px;
}

.form__label textarea {
  padding: 20px;
  font-size: 16px;
}

.form__button {
  background-color: #fff;
  border: #fff;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: bold;
  color: #375397;
  font-size: 20px;
}

.form p {
  text-align: center;
}

.footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link {
  background-color: #375397;
  border-radius: 10px;
  width: 140px;
  padding: 4px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .form {
    width: 500px;
  }
  .form__label {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0px;
    margin-bottom: 20px;
  }
  .form__label span {
    font-size: 48px;
    padding: 10px;
    font-weight: 500;
  }
  .form__label input {
    padding: 20px;
    font-size: 24px;
  }
  .form__button {
    padding: 20px 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  .form__label textarea {
    padding: 60px;
  }
  .footer {
    padding-top: 60px;
    width: 100%;
  }
  .footer__link {
    border-radius: 10px;
    width: 220px;
    padding: 4px;
    font-size: 36px;
    margin: 25px;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 700px;
  }
  .form__label {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0px;
    margin-bottom: 35px;
  }
  .form__label span {
    font-size: 58px;
    padding: 15px 5px;
    border-radius: 5px;
    font-weight: 500;
  }
  .form__label input {
    padding: 30px;
    font-size: 36px;
  }
  .form__button {
    padding: 30px 80px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 36px;
  }
  .form__label textarea {
    padding: 60px;
    font-size: 26px;
  }
  .footer {
    padding-top: 140px;
    width: 100%;
  }
  .footer__link {
    background-color: #375397;
    border-radius: 10px;
    width: 330px;
    padding: 6px;
    font-size: 46px;
    margin: 0px 20px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 400px;
    padding: 5px;
  }
  .form__label {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0px;
    margin-bottom: 15px;
  }
  .form__label span {
    font-size: 32px;
    padding: 10px 5px;
    font-weight: 500;
  }
  .form__label input {
    padding: 15px;
    font-size: 16px;
  }
  .form__button {
    padding: 10px 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .form__label textarea {
    padding: 20px;
    font-size: 16px;
  }
  .footer {
    padding-top: 40px;
    width: 100%;
  }
  .footer__link {
    background-color: #375397;
    border-radius: 10px;
    width: 165px;
    padding: 6px;
    font-size: 24px;
    margin: 0px 20px;
  }
}

@media (min-width: 1400px) {
  .form {
    width: 30%;
    padding: 5px;
  }
  .form__label {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0px;
    margin-bottom: 15px;
  }
  .form__label span {
    font-size: 50px;
    padding: 15px;
    font-weight: 500;
  }
  .form__label input {
    padding: 25px;
  }
  .form__button {
    padding: 10px 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .form__label textarea {
    padding: 40px;
  }
  .footer {
    padding-top: 70px;
    width: 100%;
  }
  .footer__link {
    background-color: #375397;
    border-radius: 10px;
    width: 250px;
    padding: 6px;
    font-size: 42px;
    margin: 0px 20px;
  }
}
/*# sourceMappingURL=contact-form.css.map */