$lp-bg-color:#000;
$lp-title-color:#fff;
$marker-font: 'Permanent Marker', cursive;

*{
  padding:0;
  margin:0
}

body{
  height:100%;
}

.landing-page{
  display:flex;
  background-image: url(/portfolio/images/me2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;
  color:$lp-title-color;

  &__text{
    margin:auto;
    font-family: $marker-font;
    padding-top:200px;
    text-shadow: 4px 2px black;
  }
  &__text__title{
    font-size:3em;
  }

  &__contact{
    flex-direction: row;
    position: absolute;
  }
}