@import 'variables.scss';

@mixin project-styles {
  display: flex;
  flex-direction: column;

  &__img {
    padding-top: 20px;
    transition:390ms;

  }

  &__img a img {
    width: 310px;
    height: 210px;
    border-radius: 20px;
    display: block;
    margin: auto;
  }

  &__img:hover{
    transform:scale(1.1);
  }

  &__text {
    text-align: center;
    padding: 20px 0px;
  }

  &__skills-list {
    margin-top:10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 110px);
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  &__footer {
    display: flex;
    margin: auto;
    padding: 20px 0px;
    flex-direction: column;
  }

  &__footer__btn-group {
    margin: auto;
    padding-bottom: 10px;
  }

  &__footer__btn-group a {
    padding: 10px;
  }

  &__footer__btn-group a img {
    padding: 10px;
    transition:300ms;
    width: 60px;
    height: 60px;
  }

  &__footer__btn-group a img:hover {
    padding: 10px;
    transform: scale(1.3)
  }
  
  &__btn-group__footer-title {
    font-size: 24px;
    text-align: center;
    background-color: $text-field-bg;
    border-radius: 5px;
    padding: 4px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  

  @media (min-width: 768px) {
    flex-direction: column;
    width: 50%;

    &__img {
      margin-top: 5px;
    }

    &__img a img {
      width: 300px;
      height: 240px;
    }

    &__text {
      font-size: 16px;
      padding-left: 15px;

      &__skills-list {
        font-size: 12px;
      }
    }

    &__footer a {
      font-size: 26px;
    }
  }

  @media (min-width: 1024px) {
    &__img {
      margin-top: 10px;
    }

    &__img a img {
      width: 440px;
      height: 340px;
    }

    &__title {
      font-size: 44px;
    }

    &__text {
      font-size: 40px;
    }

    &__skills-list {
      font-size: 24px;
      margin-top:15px;
      grid-template-columns:repeat(2, 160px);
      gap:15px;
    }

    &__footer a {
      font-size: 32px;
    }

    &__footer__btn-group {
      padding-top: 20px;
      margin: auto;
      margin-bottom: 20px;
    }

    &__footer__btn-group a {
      padding: 25px;
    }

    &__footer__btn-group a img {
      width: 96px;
      height: 96px;
    }

    &__btn-group__footer-title {
      font-size: 42px;
      margin-bottom: 20px;
    }
  }

  @media (min-width: 1280px) {
    &__img {
      margin-top: 30px;
    }

    &__img a img {
      width: 440px;
      height: 340px;
    }

    &__text {
      font-size: 40px;
      padding-right: 40px;
    }

    &__skills-list {
      font-size: 30px;
      margin-top:15px;
      grid-template-columns:repeat(2, 190px);
      gap:15px;
    }
  }
}

@mixin project-hub-styles {
  display: flex;
  flex-direction: column;

  .projects {
    flex: 1;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
