$profile-font:  'Work Sans', sans-serif;
$background-color: #F5F5F5;
$text-field-bg: #375397;
$title-color: #2a3132;
$pill-color: #3f681c;
$font-color:#fff;
@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color:  $background-color
}

.profile {
    font-family: $profile-font;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

  &__titles {
    margin: 20px 0px;
    color: $title-color;
  }

  &__textfield {
    font-size: 18px;
    color: $font-color;
    background-color: $text-field-bg;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
  }
  &__textfield a{
    text-decoration:none;
    color: $link-color-coral;
  }
  &__textfield a:hover{
    text-decoration:none;
    font-weight:bold;
  }
  &__skills {
    display: flex;
    flex-wrap:  wrap;
    flex-direction:  row;
    margin-bottom: 0px;
  }

  &__skills-item {
    background-color: $text-field-bg;
    border-radius:  10px;
    width: 72px;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
    color: $font-color;
    margin: 2px;
    list-style: none;
    text-align:  center;
    font-weight: 600;
  }
}

.footer {
  display: flex;
  font-family:  $profile-font;
  margin:  0 auto;
  width: 95%;
  padding-bottom: 40px;

  &__link {
    background-color: $text-field-bg;
    border-radius:  10px;
    width: 200px;
    padding: 4px;
    font-size: 22px;
    font-weight: 600;
    color: $font-color;
    list-style: none;
    text-align:  center;
    text-decoration:  none;
    margin:  5px;
    cursor:  pointer;
  }
}

@media(min-width:  768px) {
  .profile {
    font-family:  $profile-font;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    margin-bottom: 20px;

  &__titles {
    margin: 20px 0px;
    color: $title-color;
  }

  &__textfield {
    font-size: 24px;
    color: $font-color;
    background-color: $text-field-bg;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
  }

  &__skills {
    display: flex;
    flex-wrap:  wrap;
    flex-direction:  row;
    margin-bottom: 20px;
  }

  &__skills-item {
    background-color: $text-field-bg;
    border-radius:  10px;
    width: 95px;
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    color: $font-color;
    margin: 2px;
    list-style: none;
    text-align:  center;
    font-weight: 600;
  }
}

.footer {
  display: flex;
  font-family:  $profile-font;
  margin:  auto;
  width: 95%;
  margin: 30px;
  justify-content: center;

  &__link {
    background-color: $text-field-bg;
    border-radius: 10px;
    padding: 4px;
    font-size: 25px;
    font-weight: 600;
    color: $font-color;
    list-style: none;
    text-align:  center;
    text-decoration:  none;
    margin: 5px;
    cursor: pointer;
  }
 }
}

@media(min-width: 1200px) {
  .profile {
    font-family: $profile-font;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    margin-bottom: 20px;

  &__titles {
    margin: 20px 0px;
    color: $title-color;
  }

  &__textfield {
    font-size: 24px;
    color: $font-color;
    background-color: $text-field-bg;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
  }

  &__skills {
    display: flex;
    flex-wrap:  wrap;
    flex-direction:  row;
    margin-bottom: 20px;
  }

  &__skills-item {
    background-color: $text-field-bg;
    border-radius:  10px;
    width: 105px;
    padding: 6px;
    font-size: 20px;
    font-weight: 600;
    color: $font-color;
    margin: 2px;
    list-style: none;
    text-align:  center;
    font-weight: 600;
  }
}

.footer {
  display: flex;
  font-family: $profile-font;
  margin: auto;
  width: 95%;
  margin: 30px;
  justify-content: center;

  &__link {
    background-color: $text-field-bg;
    border-radius: 10px;
    width: 300px;
    padding: 4px;
    font-size: 25px;
    font-weight: 600;
    color: $font-color;
    list-style: none;
    text-align:  center;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
  }
 }
}

@media(min-width: 1400px) {
  .profile {
    font-family: $profile-font;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    margin-bottom: 20px;

  &__titles {
    margin: 20px 0px;
    color: $title-color;
  }

  &__textfield {
    font-size: 24px;
    color: $font-color;
    background-color: $text-field-bg;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
  }

  &__skills-item {
    background-color: $text-field-bg;
    border-radius: 10px;
    width: 115px;
    padding: 6px;
    font-size: 20px;
    font-weight: 600;
    color: $font-color;
    margin: 2px;
    list-style: none;
    text-align:  center;
    font-weight: 600;
  }
}

.footer {
  display: flex;
  font-family: $profile-font;
  margin: auto;
  width: 95%;
  margin: 30px;
  justify-content: center;

  &__link {
    background-color: $text-field-bg;
    border-radius: 10px;
    width: 300px;
    padding: 4px;
    font-size: 25px;
    font-weight: 600;
    color: $font-color;
    list-style: none;
    text-align:  center;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
  }
 }
}