$project-three-bg-color:#4F7DF3;
$project-three-font:'Libre Franklin', sans-serif;
$project-three-font-colors:#fff;

.project-three{
  display:flex;
  background-color: $project-three-bg-color;
  height:370px;
  flex-direction: column;
  color:$project-three-font-colors;
  font-family:$project-three-font ;

  &__img{
    padding-top:20px
  }

  &__img a img{
    width: 310px;
    height:210px;
    border-radius: 20px;
    display: block;
    margin: auto;
  }

  &__description{
    text-align: center;
    padding-top:15px;
  }
}

@media (min-width: 768px) {
  .project-three{
    display:flex;
    flex-direction: row;
    background-color: $project-three-bg-color;
    height: 370px;
    color: $project-three-font-colors;
    font-family: $project-three-font;

    &__img{
      flex:2;
      padding-top:20px;
      margin-top:30px;
    }

    &__img a img{
      width: 340px;
      height:240px;
      border-radius: 20px;
      display: block;
      margin: auto;
    }

    &__description{
      flex:1;
      text-align: left;
      padding-top:15px;
      margin-top:80px;
    }

    &__skills-list{
      list-style: none;
    }
  }
}