/*SCSS list*/
/*SCSS list*/
.project-hub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-hub .projects {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .project-hub {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 375px;
}

.project__img {
  padding-top: 20px;
}

.project__img a img {
  width: 310px;
  height: 210px;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.project__text {
  text-align: center;
  padding-top: 15px;
}

.project__skills-list {
  list-style: none;
}

.project__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.project__footer a {
  background-color: #375397;
  border-radius: 10px;
  padding: 4px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  list-style: none;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    width: 50%;
  }
  .project__img {
    margin-top: 5px;
  }
  .project__img a img {
    width: 300px;
    height: 240px;
  }
  .project__text {
    padding-top: 15px;
    font-size: 16px;
    padding-left: 15px;
  }
  .project__text__skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .project {
    height: 600px;
  }
  .project__img {
    margin-top: 10px;
  }
  .project__img a img {
    width: 440px;
    height: 340px;
  }
  .project__title {
    font-size: 44px;
  }
  .project__text {
    padding-top: 15px;
    font-size: 40px;
  }
  .project__skills-list {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .project__img {
    margin-top: 30px;
  }
  .project__img a img {
    width: 440px;
    height: 340px;
  }
  .project__text {
    font-size: 40px;
    padding-right: 40px;
  }
  .project__skills-list {
    font-size: 30px;
  }
}

.project:nth-child(1) {
  background-color: #cf3b49;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.project:nth-child(2) {
  background-color: #6B2B77;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.project:nth-child(3) {
  background-color: #4F7DF3;
  font-family: "Libre Franklin", sans-serif;
  color: #fff;
}

.project:nth-child(4) {
  background-color: #4C4E61;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.project:nth-child(5) {
  background-color: #31B2AF;
  font-family: "Karla", sans-serif;
  color: #fff;
}

.project:nth-child(6) {
  background-color: #FD714F;
  font-family: "Work Sans", sans-serif;
  color: #fff;
}

.clientprojects {
  background-color: #000;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 1.2em;
}
/*# sourceMappingURL=style.css.map */