$client-bg-color:#000;
$client-title-color:#fff;
$client-font: 'Permanent Marker', cursive;

@import "mixins";
@import "variables";
@import "squares";
@import "triangles";
@import "circles";

.project{
  @include project-styles;
}

@for $i from 1 through length($bg-colors) {
  .project{
    &:nth-child(#{$i}) {
      background-color: nth($bg-colors, $i);
      font-family: nth($fonts, $i);
      color: nth($font-colors, $i);
    }
  }
}

.clientprojects{
  background-color: $client-bg-color;
  color:$client-title-color;
  font-family: $client-font;
  text-align:center;
  font-size:1.2em;
}