@media (min-width: 768px) {
  .landing-page {
    height: 580px;
    background-position-y: -50px;
    margin: 0 auto;
    margin: 15px;
  }
  .landing-page__li a {
    font-size: 30px;
    padding: 18px;
  }
  .landing-page__text {
    padding-top: 350px;
    text-shadow: 4px 2px black;
  }
  .landing-page__text__title {
    font-size: 4.5em;
    text-shadow: 6px 4px black;
    padding-bottom: 20px;
  }
  .landing-page__text__subtitle {
    font-size: 1.6em;
    text-shadow: 2px 5px black;
  }
}

@media (min-width: 1024px) {
  .landing-page {
    height: 750px;
    background-position-y: -90px;
    margin: 0 auto;
    margin: 15px;
  }
  .landing-page__text {
    padding-top: 500px;
    text-shadow: 4px 2px black;
  }
  .landing-page__text__title {
    font-size: 5em;
    text-shadow: 6px 4px black;
    padding-bottom: 20px;
  }
  .landing-page__text__subtitle {
    font-size: 2em;
    text-shadow: 2px 5px black;
  }
}

@media (min-width: 1280px) {
  .landing-page {
    background-position-y: -90px;
    height: 700px;
    margin: auto;
    margin: 15px;
  }
  .landing-page__li a {
    font-size: 40px;
    padding: 0 20px;
  }
  .landing-page__text {
    padding-top: 430px;
    text-shadow: 4px 2px black;
  }
  .landing-page__text__title {
    font-size: 6.5em;
    text-shadow: 6px 4px black;
    padding-bottom: 20px;
  }
  .landing-page__text__subtitle {
    font-size: 1.65em;
    text-shadow: 2px 5px black;
  }
}

@media (min-width: 1440px) {
  .landing-page {
    background-position-y: -190px;
    height: 100vh;
    margin: 0px;
    width: 100%;
  }
  .landing-page__text {
    padding-top: 690px;
    text-shadow: 4px 2px black;
  }
  .landing-page__text__title {
    font-size: 7.5em;
    text-shadow: 6px 4px black;
    padding-bottom: 60px;
  }
  .landing-page__text__subtitle {
    font-size: 3.5em;
    text-shadow: 2px 5px black;
  }
}

/*SCSS list*/
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 375px;
}

.project__img {
  padding-top: 20px;
}

.project__img a img {
  width: 310px;
  height: 210px;
  border-radius: 20px;
  display: block;
  margin: auto;
}

.project__text {
  text-align: center;
  padding-top: 15px;
}

.project p {
  display: none;
}

.project__skills-list {
  list-style: none;
}

@media (min-width: 768px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 400px;
  }
  .project__img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin-top: 30px;
  }
  .project__img a img {
    width: 340px;
    height: 240px;
  }
  .project__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 20px;
    font-size: 1.8rem;
    text-align: left;
    padding-left: 15px;
  }
  .project__text p {
    display: unset;
    font-size: 16px;
    line-height: 5px;
  }
  .project__text__skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
  }
  .project__text:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .project__text:nth-child(even)__text {
    text-align: center;
    padding-top: 15px;
  }
}

@media (min-width: 1024px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
  }
  .project__img {
    margin-top: 30px;
  }
  .project__img a img {
    width: 940px;
    height: 740px;
  }
  .project__text {
    margin-top: 80px;
    font-size: 3rem;
  }
  .project:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .project:nth-child(even)__text {
    text-align: center;
    padding-top: 15px;
  }
  .project:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project:nth-child(even)__text {
    text-align: center;
    padding-top: 15px;
  }
}

@media (min-width: 1280px) {
  .project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
  }
  .project__img {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 30px;
  }
  .project__img a img {
    width: 740px;
    height: 540px;
  }
  .project__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 80px;
    font-size: 3rem;
    padding-right: 40px;
  }
  .project:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .project:nth-child(even)__text {
    text-align: center;
    padding-top: 15px;
  }
}

.project:nth-child(1) {
  background-color: #cf3b49;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.project:nth-child(2) {
  background-color: #6B2B77;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.project:nth-child(3) {
  background-color: #4F7DF3;
  font-family: "Libre Franklin", sans-serif;
  color: #fff;
}

.project:nth-child(4) {
  background-color: #4C4E61;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.project:nth-child(5) {
  background-color: #31B2AF;
  font-family: "Karla", sans-serif;
  color: #fff;
}

.clientprojects {
  background-color: #000;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 1.2em;
}
/*# sourceMappingURL=style.css.map */