/*SCSS list*/
body {
  overflow-x: hidden;
}

.shapes__triangle {
  position: fixed;
  width: 0;
  height: 0;
  z-index: -1;
  border-radius: 5px;
  opacity: 0.7;
}

.shapes__triangle:nth-child(1) {
  border-top: 50px solid #f08080;
  border-left: 50px solid transparent;
  border-right: 10px solid transparent;
  top: 405px;
  left: 150px;
}

.shapes__triangle:nth-child(2) {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #008b8b;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 1200px;
  left: 245px;
}

.shapes__triangle:nth-child(3) {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 45px solid #00ff7f;
  top: 780px;
  left: 275px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.shapes__triangle:nth-child(4) {
  border-top: 50px solid #f08080;
  border-left: 50px solid transparent;
  border-right: 10px solid transparent;
  top: 75px;
  left: 50px;
}

.shapes__triangle:nth-child(5) {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #008b8b;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 900px;
  left: 245px;
}

.shapes__triangle:nth-child(6) {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 45px solid #00ff7f;
  top: 330px;
  left: 175px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.shapes__triangle:nth-child(7) {
  border-top: 50px solid #f08080;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  top: 205px;
  left: 450px;
}

.shapes__triangle:nth-child(8) {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #008b8b;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 300px;
  left: 45px;
}

.shapes__triangle:nth-child(9) {
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 45px solid #00ff7f;
  top: 10px;
  left: 20px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

@media (min-width: 1280px) {
  .shapes__triangle {
    position: fixed;
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: 5px;
    opacity: 0.7;
  }
  .shapes__triangle:nth-child(1) {
    border-top: 50px solid #f08080;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    top: 715px;
    left: 1250px;
  }
  .shapes__triangle:nth-child(2) {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #008b8b;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    top: 300px;
    left: 145px;
  }
  .shapes__triangle:nth-child(3) {
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #00ff7f;
    top: 180px;
    left: 975px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .shapes__triangle:nth-child(4) {
    border-top: 50px solid #f08080;
    border-left: 50px solid transparent;
    border-right: 10px solid transparent;
    top: 345px;
    left: 350px;
  }
  .shapes__triangle:nth-child(5) {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid #008b8b;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    top: 120px;
    left: 450px;
  }
  .shapes__triangle:nth-child(6) {
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #00ff7f;
    top: 680px;
    left: 1075px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .shapes__triangle:nth-child(7) {
    border-top: 50px solid #f08080;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    top: 305px;
    left: 950px;
  }
  .shapes__triangle:nth-child(8) {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #008b8b;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    top: 777px;
    left: 45px;
  }
  .shapes__triangle:nth-child(9) {
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid #00ff7f;
    top: 340px;
    left: 1120px;
  }
}
/*# sourceMappingURL=triangles.css.map */