/*SCSS list*/
$cyan-shapes: #008b8b;
$coral-shapes: #f08080;
$springgreen-shapes: #00ff7f;

$project-one-bg-color: #6d73e7;
$project-one-font: 'MuseoModerno', cursive;
$project-one-font-colors: #fff;

$project-two-bg-color: #fff;
$project-two-font: 'Syne', sans-serif;
$project-two-font-colors: #000;

$project-three-bg-color: #0079ff;
$project-three-font: 'Space Mono', monospace;
$project-three-font-colors: #fff;

$project-four-bg-color: #00494d;
$project-four-font: 'Space Mono', monospace;
$project-four-font-colors: #ffffff;

$project-five-bg-color: #202745;
$project-five-font: 'Manrope', sans-serif;
$project-five-font-colors: #ffffff;

$project-six-bg-color: #4c40e0;
$project-six-font: 'Noto Sans KR', sans-serif;
$project-six-font-colors: #fff;

$project-seven-bg-color: #cf3b49;
$project-seven-font: 'Montserrat', sans-serif;
$project-seven-font-colors: #fff;

$project-eight-bg-color: #6b2b77;
$project-eight-font: 'Open Sans', sans-serif;
$project-eight-font-colors: #ffffff;

$project-nine-bg-color: #4f7df3;
$project-nine-font: 'Libre Franklin', sans-serif;
$project-nine-font-colors: #fff;

$project-ten-bg-color: #4c4e61;
$project-ten-font: 'Poppins', sans-serif;
$project-ten-font-colors: #fff;

$project-eleven-bg-color: #31b2af;
$project-eleven-font: 'Karla', sans-serif;
$project-eleven-font-colors: #fff;

$project-footer-bg-color: #fd714f;
$project-footer-font: 'Work Sans', sans-serif;
$project-footer-font-colors: #fff;

$text-field-bg: #375397;
$link-color-white: #fff;
$link-color-coral: #f08080;
$button-color: #fff;
$shape-colors: $coral-shapes, $cyan-shapes, $springgreen-shapes;

$bg-colors: $project-one-bg-color, $project-two-bg-color, $project-three-bg-color, $project-four-bg-color,
	$project-five-bg-color, $project-six-bg-color, $project-seven-bg-color, $project-eight-bg-color,
	$project-nine-bg-color, $project-ten-bg-color, $project-eleven-bg-color, $project-footer-bg-color;

$fonts: $project-one-font, $project-two-font, $project-three-font, $project-four-font, $project-five-font,
	$project-six-font, $project-seven-font, $project-eight-font, $project-nine-font, $project-ten-font,
	$project-eleven-font, $project-footer-font;

$font-colors: $project-one-font-colors, $project-two-font-colors, $project-three-font-colors, $project-four-font-colors,
	$project-five-font-colors, $project-six-font-colors, $project-seven-font-colors, $project-eight-font-colors,
	$project-nine-font-colors, $project-ten-font-colors, $project-eleven-font-colors, $project-footer-font-colors;
