@import "mixins";
@import "variables";

.project-odd{
  @include project-mobile-odd;
  background-color: $project-one-bg-color;
  color: $project-one-font-colors;
  font-family: $project-one-font;
}

@media (min-width: 768px) {
  @include project-768-odd;
}