$project-one-bg-color:#cf3b49;
$project-one-font:'Montserrat', sans-serif;
$project-one-font-colors:#fff;
$project-two-bg-color:#6B2B77;
$project-two-font:'Open Sans', sans-serif;;
$project-two-font-colors:#ffffff;
$project-three-bg-color:#4F7DF3;
$project-three-font:'Libre Franklin', sans-serif;
$project-three-font-colors:#fff;
$project-four-bg-color:#4C4E61;
$project-four-font: 'Poppins', sans-serif;
$project-four-font-colors:#fff;
$project-five-bg-color:#31B2AF;
$project-five-font:'Karla', sans-serif;
$project-five-font-colors:#fff;
$project-six-bg-color:#FFFFFF;
$project-six-font:"Fabriga Light";
$project-six-font-colors:#333333;
$project-seven-bg-color:#77B255;
$project-seven-font:"Source Sans Pro";
$project-seven-font-colors:#fff;